body {
  background-image: radial-gradient(
    circle at 50% 50%,
    #00cbed 0,
    #00b8da 25%,
    #21a5c5 50%,
    #2d92b0 75%,
    #32819c 100%
  );
}

.imgTitle {
  width: 10%;
}

@media only screen and (max-width: 800px) {
  .w-25 {
    width: 100% !important;
    max-width: 400px;
  }
}
h1 {
  margin-right: 10px;
}

h5 {
  text-transform: capitalize;
}

.input-group {
  margin-left: 50px;
}
